<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{common/layout_private.html}">
<head>
    <title>Список пользователей</title>
</head>
<body>
<div class="col-10" th:unless="${users == null}" layout:fragment="content">
    <h1>Пользователи</h1>
    <div class="alert alert-warning" th:if="${users == null || users.size() == 0}">
        К сожалению, не удалось найти пользователей
    </div>
    <table class="table table-striped" th:unless="${users == null || users.size() == 0}">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Имя</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="user, iter : ${users}">
            <tr>
                <th scope="row" th:text="${iter.index + 1}"></th>
                <td>
                    <a th:href="@{/users} + '/' + ${user.getId()}" th:text="${user.getUsername()}"></a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
</body>
</html>