<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{common/layout_private.html}">
<head>
    <title>Список колец</title>
</head>
<body>
<div class="col-10" th:unless="${users == null}" layout:fragment="content">
    <h1>Кольца</h1>
    <div class="alert alert-warning" th:if="${users == null || users.size() == 0}">
        К сожалению, не удалось найти кольца
    </div>
    <table class="table table-striped" th:unless="${users == null || users.size() == 0}">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Пользователь</th>
            <th scope="col">ID Кольца</th>
            <th scope="col">Факультет</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="user, iter : ${users}">
            <tr>
                <th scope="row" th:text="${iter.index + 1}"></th>
                <td th:text="${user.getUsername()}"></td>
                <td th:text="${user.getRing().getId()}" th:unless="${user.getRing() != null}"></td>
                <td th:if="${user.getRing() == null}"></td>
                <td th:text="${user.getGroup().getFaculty().getName()}"></td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
</body>
</html>