<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{common/layout.html}">
<head>
    <title>Список статусов</title>
</head>
<body>
<div class="col-10" layout:fragment="content">
    <h1>Статусы</h1>
    <p>
        <a class="btn btn-primary" th:href="@{/admin/status/create}"><i class="fa fa-plus"></i> Создать</a>
    </p>
    <div class="alert alert-warning" th:if="${statuses.size() == 0}">
        Еще не создано ни одного статуса
    </div>
    <table class="table table-striped" th:unless="${statuses.size() == 0}">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">Название</th>
            <th scope="col">Действия</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="status, iter : ${statuses}">
            <tr>
                <th scope="row" th:text="${iter.index + 1}"></th>
                <td th:text="${status.getId()}"></td>
                <td th:text="${status.getName()}"></td>
                <td>
                    <a th:href="@{/admin/status/edit} + '/' + ${status.getId()}" class="btn btn-sm btn-primary"><i
                            class="fa fa-fw fa-edit"></i></a>
                    <form th:action="@{/admin/status/delete} + '/' + ${status.getId()}" method="POST"
                          class="d-inline-block">
                        <button class="btn btn-sm btn-danger" type="submit"><i class="fa fa-fw fa-times"></i></button>
                    </form>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
</body>
</html>